body{
  text-align: center;
  font-family: "Arial", "Meiryo", sans-serif;
}
h1{
  /* ここにGoogleフォント*/
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1.2rem;
  text-shadow: 2px 2px 3px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
#basic > p {
  font-weight: bold;
}
.text-skyblue {
color:skyblue ;
}
.text-pink {
  color: rgb(255, 192, 203);
}
  